<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div id="slam">
        <ol>
            <afaire-item v-for="matiere in listeSLAM" v-bind:liste="matiere" v-bind:key="matiere.id">

            </afaire-item>
        </ol>
    </div>



    <script src="https://unpkg.com/vue@next"></script>
    <script src="050_comunication.js"></script>

</body>
</html>