<!DOCTYPE html>
<html>
<head>
    <title> Apprendre Vue </title>

</HEAD>
<BODY>
<div id="root">
    Y a rien pour le moment

    <ul>
        <li v-for="nom in professeurs">{{ nom }}</li>
    </ul>

    <input type="text" v-model="nouveauProfesseur">
    <button @click="ajouterNom" id="ajout" v-on="click"> Ajouter un prof</button>
</div>

<script src="https://unpkg.com/vue@next"></script>

<script>
    var app = {
        data(){
            return{
                professeurs: ['Robert','Damico','Roubeau','Vingy'],
                nouveauProfesseur: ''
            }
        },
        mounted(){
            /*document.querySelector('#ajout').addEventListener('click',() => {
                let nvNom = document.querySelector('#nouveauNom');
                log.$data.professeurs.push(nvNom.value);
                nvNom.value ='';
            })*/
        },
        methods:{
            ajouterNom() {
                this.professeurs.push(this.nouveauProfesseur)
            }
        }
    }

    const log = Vue.createApp(app).mount('#root')
</script>

</BODY>
</HTML>

