<!DOCTYPE html>
<html>
<head>
<title> Apprendre Vue </title>
</HEAD>
<BODY>
    <div id="root">
  Y a rien pour le moment

        <ul>
            <li v-for="nom in professeurs">{{ nom }}</li>
        </ul>

    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
      var app = {
          data()
          {
              return {
                  professeurs: ['Robert','Damico','Roubeau','Vigny']
              }
          }
      }
      const log = Vue.createApp(app).mount('#root')
    </script>

</BODY>
</HTML>

